/**
David Alvarado
Cis218
10/24/24
**/

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
}

.navbar-nav .dropdown-menu {
    background-color: #343a40;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}