<!--
 David Alvarado
 Cis218
 10/12/24
 -->

{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>{{ restaurant.name }}</h2>
        <p>Reviews:</p>
        <ul class="list-group">
            {% for review in restaurant.reviews.all %}
                <li class="list-group-item">
                    <a href="{% url 'review_detail' review.pk %}">{{ review.body }}</a>
                    <p>Rating: {{ review.rating }}</p>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_review' restaurant.pk %}" class="btn btn-primary mt-3">Write a Review</a>
    </div>
</div>
{% endblock %}
